body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

#content{
    width: 100%;
}

#sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    padding: 20px;
}

#sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    transition: background-color 0.3s;
}

#sidebar a:hover {
    background-color: #555;
}

.platforms-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.platform {
    text-align: center;
}

.platform img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 40%;
}

.platform p {
    margin-top: 10px;
}

.active{
    background-color: #949997;
}

.top-menu{
    width: 10%;
    height: 7%;
    display: flex;
    float: right;
    background-color: #333;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

.top-menu a:link, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

#log_in_form{
    display: none;
}
