<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievements manager</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'PSN/style.css' %}">
</head>

<body>
    <div id="sidebar">
        <a href="#" class="active">Games</a>
        <a href="#">Platforms</a>
    </div>
    <div id="content">
        <h1>PlayStation Network</h1>
        <span id="game_title"></span>

        <script>
            var selectedGame = sessionStorage.getItem('selected_game');
            var title = document.getElementById("game_title");
            title.innerHTML = selectedGame;
        </script>

        <div class="platforms-container">
            <div class="platform">
                <ul>
                    {% for trophy_data in trophies_data %}
                        <ul>
                            {% for dupa in trophy_data %}
                                <li> {{ dupa }} </li>
                            {% endfor %}
                        </ul>
                        <br><br>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
