<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievements manager</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'PSN/style.css' %}">
</head>

<body>
    <div id="sidebar">
        <a href="#" class="active">Games</a>
        <a href="#">Platforms</a>
    </div>
    <div id="content">
        <h1>PlayStation Network</h1>
        <span> {{ selected_game }} </span>
        <script>
            var selectedGame = sessionStorage.getItem('selected_game');
            console.log(selectedGame)
            var title = document.getElementById("game_title");
            title.innerHTML = selectedGame;
        </script>

        <div class="platforms-container">
            <div class="platform">
                <div class="flexbox">
                    <ul>
                    {% load custom_filters %}
                    {% for data, icon in trophies_data|zip_longest_filter:trophies_icons %}

                            {% for information in data %}
                                <li> {{ information }} </li>
                            {% endfor %}
                            <img src = {{ icon }} >
                            <br><br>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
