<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievements manager</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'PSN/style.css' %}">
</head>
<body>
    <div id="sidebar">
        <a href="#">Games</a>
        <a href="#" class="active">Platforms</a>
    </div>
    <div id="content">
        <span class="top-menu" id="login_button" onclick="show_form('login_form')">LOG IN</span>
        <span class="top-menu" id="separator"></span>
        <span class="top-menu" id="registration_button" onclick="show_sign_up_form()">SIGN UP</span>
        <h1>GAME PLATFORMS</h1>
        <h2> {{ error_message }} </h2>
        <div class="platforms-container">
            <div class="platform">
                <a href="PSN">
                    <img src="{% static 'PSN/images/PSN.png' %}" alt="PlayStation Network">
                    <p>Platform 1</p>
                </a>

                <form action = "" method = "POST">
                    {% if saved_npsso != "NO SAVE" %}
                        {% csrf_token %}
                        {{ psn_form }}
                        <br>
                        <input type="submit" value=Submit>
                    {% endif %}
                </form>
                <br><br><br>

                <div id="login_form" style="display: none;">
                    <form action = "{% url 'platforms' %}" method = "POST">
                        {% csrf_token %}
                        <input type="text" name = "nick" placeholder="nick or email address">  <br>
                        <input type="password" name = "password" placeholder="password">  <br>
                        <input type = "submit" name = "login" value = "Submit" onclick = "login()">
                    </form>
                </div>

                <div id="sign_up_form" style="display: none;">
                   <form action = "{% url 'platforms' %}" method = "POST">
                       {% csrf_token %}
                       <input type = "text" name = "nick" placeholder = "nick">  <br>
                       <input type = "email" name = "email" placeholder = "email">  <br>
                       <input type = "password" name = "password" placeholder = "password" id = "new_password">  <br>
                       <input type = "password" name = "repeat_password"
                              placeholder = "repeat password" id = "repeat_password">  <br>
                       <input type = "submit" name = "register" value = "Submit" onclick = "register()">
                   </form>
                </div>

            </div>
        </div>
    </div>

    <script>
        function show_form(form_id){
            document.getElementById(form_id).style.display = "block";
        }

        function show_sign_up_form(){
            document.getElementById("sign_up_form").style.display = "block";
        }

        function register(){
            var newPassword = document.getElementById("new_password").value;
            var repeatPassword = document.getElementById("repeat_password").value;

            if (newPassword !== repeatPassword) {
                alert("Passwords do not match!");
                return false;
            }
            alert("Thanks for registration. Please confirm Your account." +
                "The confirmation link has been sent into provided email address.");
        }

        function login(){
            var newPassword = document.getElementById("new_password").value;
        }

        function checkElementExistence(elementIds) {
            for (var i = 0; i < elementIds.length; i++) {
                var element = document.getElementById(elementIds[i]);
                if (!element) {
                    console.error("Element with ID '" + elementIds[i] + "' not found!");
                }
                else {
                    console.log("Element with ID '" + elementIds[i] + "' works properly.");
                }
            }
        }

        var elementIdsToCheck = ['sidebar', 'content', 'login_button', 'separator', 'registration_button', 'login_form', 'sign_up_form'];
        checkElementExistence(elementIdsToCheck);

    </script>   <!-- TODO: Implement an account verification -->
</body>
</html>
