<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievements manager</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'PSN/style.css' %}">
</head>
<body>
    <div id="sidebar">
        <a href="#" class="active">Games</a>
        <a href="#">Platforms</a>
    </div>
    <div id="content">
        <h1>PlayStation Network</h1>
        <div class="platforms-container">
            <div class="platform">
                <ul>
                    {% for game in games %}
                        <li><a href="{% url 'game' game %}"> {{ game }} </a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</body>
</html>
