<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievements manager</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'PSN/style.css' %}">
</head>

<script>
    function send_value(game) {
        document.getElementById('selected_game_input').value = game;
        document.getElementById('myForm').submit();
    }
</script>

<body>
    <div id="sidebar">
        <a href="#" class="active">Games</a>
        <a href="#">Platforms</a>
    </div>
    <div id="content">
        <h1>PlayStation Network</h1>
        <div class="platforms-container">
            <div class="platform">
                <ul>
                    {% for title, progress in games.items %}
                        <li><a href='game' onclick="saveTitleToSession(' {{ title }} ')"> {{ title }} {{ progress }} </a></li>
                    {% endfor %}
                </ul>
                <form id="myForm" method="POST" action="game">
                    <input type="hidden" id="selected_game_input" name="selected_game" value="">
                    <input type="submit" value="Wyślij" style="display: none;">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
